In [2]:
from api_dados import *

In [3]:
produtos= listar_produtos('ana')
print(f'Produtos:', produtos)

Produtos: ['vazao', 'chuva', 'cota']

In [4]:
df= coletar_dados('ana', 'vazao', ['17050001','17050000'])

  0%|          | 0/2 [00:00<?, ?it/s]c:\Users\elain\Desktop\testespython\api_dados.py:54: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(df)
100%|██████████| 2/2 [00:13<00:00,  6.76s/it]

In [5]:
df

            17050001  17050000
1927-12-11       NaN  131900.0
1927-12-12       NaN  132650.0
1927-12-13       NaN  133250.0
1927-12-14       NaN  132950.0
1927-12-15       NaN  132650.0
...              ...       ...
2025-07-27  225668.0       NaN
2025-07-28  225160.0       NaN
2025-07-29  224906.0       NaN
2025-07-30  224652.0       NaN
2025-07-31  223637.0       NaN

[35663 rows x 2 columns]

In [6]:
produtos= listar_produtos('ons')
print(f'Produtos:', produtos)

Produtos: ['ambiente-colaborativo', 'bacia_contorno', 'balanco_dessem_detalhe', 'balanco_dessem_geral', 'balanco-energia-subsistema', 'capacidade-geracao', 'capacidade-transformacao', 'carga-energia', 'carga-energia-programada', 'carga-energia-verificada', 'cargaglobal-roraima', 'carga-mensal', 'cmo-semanal', 'cmo-semi-horario', 'curva-carga', 'cvu-usitermica', 'dados_hidrologicos_ho', 'dados-hidrologicos-res', 'descontinuado-dados-do-historico-de-despacho-de-energia-de-01-2021-a-09-2024', 'disponibilidade_usina', 'ear-diario-por-bacia', 'ear-diario-por-ree-reservatorio-equivalente-de-energia', 'ear-diario-por-reservatorio', 'ear-diario-por-subsistema', 'ena-diario-por-bacia', 'ena-diario-por-ree-reservatorio-equivalente-de-energia', 'ena-diario-por-reservatorio', 'ena-diario-por-subsistema', 'energia-vertida-turbinavel', 'equipamento-controle-reativo', 'fator-capacidade-2', 'geracao-exportacao-internacional', 'geracao-termica-despacho-2', 'geracao-usina-2', 'grandezas_fluviometricas', 'importacaoenergia-comercial-2', 'ind_confiarb_atls', 'ind_confiarb_ccal', 'ind_confiarb_ccat', 'ind_confiarb_ciper', 'ind_confiarb_dreq_freq', 'ind_confiarb_energianaosuprida', 'ind_confiarb_robustez', 'ind_confiarb_severidade', 'ind_disponibilidade_fgeracao_uge_anual', 'ind_disponibilidade_fgeracao_uge_mensal', 'ind_disponibilidade_ft_conversor', 'ind_disponibilidade_ft_reativo', 'ind_disponibilidade_ft_trlt', 'ind-disponibilidade-geracao-sin', 'ind_providencia_ecpa_pcpa', 'ind_qualid_dfd_evento', 'ind_qualid_dfd_meano', 'ind_qualid_dfp_regime', 'intercambio-internacional', 'intercambio_modalidade', 'intercambio-nacional', 'interrupcao_carga', 'linha-transmissao', 'modalidade-usina', 'ofertapreco-importacao', 'precipitacao-estacao', 'programacao_diaria', 'programacao_fluxo_controlado', 'programacao_x_previsao', 'reservatorio', 'restricao_coff_eolica_detail', 'restricao_coff_eolica_usi', 'restricao_coff_fotovoltaica', 'restricao_coff_fotovoltaica_detail', 'res_volumeespera', 'subestacao', 'taxa_teif_teip', 'taxa_teif_teip_oper', 'taxa_teif_teip_parametro', 'uge_opera_csi', 'usina_conjunto', 'usina_pqu']

In [7]:
nome_produto = 'dados-hidrologicos-res'
df = coletar_dados('ons', nome_produto)

Iniciando download de 26 arquivos...

In [8]:
df_res = df[df['nom_reservatorio'] == 'ITAPEBI']

In [9]:
df_res_val= df_res['val_vazaonatural'].reset_index(drop=True)

In [10]:
df_res_val

0        350.72
1        361.78
2        476.52
3        752.56
4       1406.71
         ...
9482     312.74
9483     356.64
9484     410.12
9485     389.61
9486     354.59
Name: val_vazaonatural, Length: 9487, dtype: float64